:root {
    --blanco: #fff;
    --oscuro: #005555;
    --primario: #F7FF93;
    --secundario: #069A8E;
    --claro: #A1E3D8;
    --grisclaro: #dFe9f3;
    --rojoclaro: #fd7c7c;
}

/* General */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

.servicios, .navegacion-principal, .formulario, footer{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*,
*::before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Happy Monkey', cursive;
    font-family: 'Koulen', cursive;
    background-image: linear-gradient(to left, var(--rojoclaro) 0%, var(--claro) 100%);
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(140, 140, 140, 0.8);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(140, 140, 140, 0.8);
    -moz-box-shadow: 0px 5px 15px 0px rgba(140, 140, 140, 0.8);
    background-color: var(--grisclaro);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografía */
h1 {
    font-size: 3.8rem;

}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/* Titulos */

.titulo {
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover{
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

/* UTILIDADES */
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}

.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

/* Navegación principal */

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 412px) {

    .navegacion-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }

}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);

    color: var(--oscuro);
}

/* HERO */

.hero {
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    /*Sintaxis anterior*/
    background-color: rgb(0 0 0 / 70%);
    /*Sintaxis nuevo*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco)
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: center;
}


/*SERVICIOS*/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}

/* GRID
    -- grid-template-columns: 1fr 1fr 1fr;
    Esto es igual qué 1fr lo cual indica: 1 fracción del 100%

    -- grid-template-columns: 33.3% 33.3% 33.3%;
    Se asignan los espacion con referencia a un 100%
    
    -- grid-template-columns: repeat(3, 1fr);
    repeat es igual a la cantidad de veces qué se quiera realizar la operación

    -- grid: 300px 800px / 300px 300px;
    shorthand
    1° = primera linea
    2° = segunda linea
    / = separador
    3° = primera columa
    4° = segunda columna
    La cantidad de valores qué se agreguen definen la cantidad de columnas o lineas a agregar
    */

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

.servicio p{
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*CONTACTO*/
.formulario{
    background-color: var(--blanco);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--oscuro);
}

@media (min-width: 768px ) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;

    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}


.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--rojoclaro);
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

.campo textarea{
    height: 20rem;
}

.input-text{
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
}

.footer{
    text-align: center;
}